<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agility - Produtos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>
      <div id="topbar-container"></div>

          <div id="sidebar-container"></div>


    <main class="main-content">
        <h1 class="titulo"><i class="fa-solid fa-triangle-exclamation"></i>AGILITY</h1>
        <hr>
        <h2><i class="fa-solid fa-warehouse"></i>Estoque</h2>
        <h2><i class="fa-solid fa-boxes-stacked"></i> Produtos</h2>
        <!-- Barra de pesquisa -->
        <div class="barra-pesquisa">
          <input type="text" id="pesquisa" placeholder="Pesquisar produto...">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <table class="tabela-notas">
          <thead>
            <tr>
              <th style="text-align: center;">Ações</th>
              <th>Nome</th>
              <th>Código de Barras</th>
              <th>Vencimento</th>
              <th>Quantidade</th>
              <th>Fornecedor</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody id="tabela-produtos"></tbody>
        </table>

       

    </main>
    <!-- Modal de Movimentação -->
    <div id="modalMovimentacao" class="modal">
      <div class="modal-content">
        <span class="close" onclick="fecharModalMovimentacao()">&times;</span>
        <h3>Movimentação de Estoque</h3>
        <input type="hidden" id="idprodutoMovimentacao">

        <label for="tipoMovimentacao">Tipo:</label>
        <select id="tipoMovimentacao">
          <option value="entrada">Entrada</option>
          <option value="saida">Saída</option>
        </select>

        <label for="quantidadeMovimentacao">Quantidade:</label>
        <input type="number" id="quantidadeMovimentacao" placeholder="Quantidade">

        <label for="observacaoMovimentacao">Observação:</label>
        <textarea id="observacaoMovimentacao" placeholder="Observação (opcional)" maxlength="50"></textarea>

        <button onclick="registrarMovimentacao()">Confirmar</button>
      </div>
    </div>
    <!-- Modal -->
    <div id="modalExclusao" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="mensagemModal"></p>
        </div>
    </div>
</body>
    <script src="/Mixins/topbar.js"></script>
    <script src="/Mixins/sidebar.js"></script>
    <script src="/js/Auth/scriptinicio.js"></script>
    <script src="/js/utils/action-menu.js"></script>
    <script src="/js/Produtos/A_Estoque.js"></script>
     <script src="/js/Notificacao/A_Notificacao.js"></script>
      <script src="/js/Perfil/A_Perfil.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          atualizarContadorNotificacoes();
        });
      </script>
</html>




