<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agility - Compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>
      <div id="topbar-container"></div>

          <div id="sidebar-container"></div>


    <main class="main-content">
        <h1 class="titulo"><i class="fa-solid fa-triangle-exclamation"></i>AGILITY</h1>
        <hr>

        <h2><i class="fa-solid fa-boxes-stacked"></i> Compras</h2>
         <div class="barra-pesquisa">
            <input type="text" id="pesquisa" placeholder="Pesquisar compra..." oninput="filtrarCompras()" />
            <i class="fa-solid fa-magnifying-glass"></i>
         </div>
        <table  class="tabela-notas">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th>Quantidade</th>
              <th>Prioridade</th>
              <th>Categoria</th>
              <th style="text-align: center;"">Ações</th>
            </tr>
          </thead>
          <tbody id="tabela-compras"></tbody>
        </table>

    <!-- Modal -->
    <div id="modalExclusao" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="mensagemModal"></p>
        </div>
    </div>
</body>
    <script src="/Mixins/topbar.js"></script>
    <script src="/Mixins/sidebar.js"></script>
    <script src="/js/Auth/scriptinicio.js"></script>
    <script src="/js/Compras/A_Compras.js"></script>
     <script src="/js/Notificacao/A_Notificacao.js"></script>
      <script src="/js/Perfil/A_Perfil.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          atualizarContadorNotificacoes();
        });
      </script>
</html>




