/* MOVIMENTACAO */ 
#modalMovimentacao label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

#modalMovimentacao input,
#modalMovimentacao select,
#modalMovimentacao textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #1f2937;
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
}

#modalMovimentacao textarea {
  resize: vertical;
  min-height: 60px;
}

/* Botão confirmar */
#modalMovimentacao button {
  width: 100%;
  padding: 12px;
  background-color: gainsboro;
  color: #13203f;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#modalMovimentacao button:hover {
  background-color: #155ec4;
}
.menu-container {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
}

.hamburger-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-menu {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.2s ease, transform 0.2s ease;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #13203f;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 5px;
  z-index: 100;
  min-width: 150px;
  text-align: left;
  pointer-events: none;
  border-radius: 6px;
}


.dropdown-menu.show {
  opacity: 1;
  transform: scaleY(1);
  pointer-events: auto;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 6px 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
