/* TEMA ESCURO */
/* TEMA ESCURO */
/* TEMA ESCURO */
body.tema-escuro{
    background-color: #262626;
    color: gainsboro;
}

body.tema-escuro .main-content label{
    color: gainsboro;
}

body.tema-escuro h1,
body.tema-escuro h2,
body.tema-escuro h3,
body.tema-escuro h4,
body.tema-escuro h5,
body.tema-escuro h6 {
    color: gainsboro;
}
body.tema-escuro p{
  color: gainsboro;
}
body.tema-escuro .main-content hr {
  background-color: gainsboro;
}

body.tema-escuro .main-content section.recentes{
  background-color: #3a3a3a;
}
body.tema-escuro input,
body.tema-escuro select {
    background-color: #3a3a3a;
    color: gainsboro;
    border: 1px solid #666;
}

body.tema-escuro .config-opcoes{
    background-color: #2c2c2c;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

body.tema-escuro .main-content .card{
    background-color: #3a3a3a;
    color: gainsboro
}
body.tema-escuro .item-recente {
  background-color: #2b2b2b;
  color: gainsboro;
}
body.tema-escuro .main-content .form-card{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content #compras-form{
  background-color: #262626;
  color: gainsboro
}
body.tema-escuro .main-content .card-ajuda{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content .container-privacidade{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content .container-privacidade i{
  color: gainsboro
}
body.tema-escuro .main-content .perfil-container{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content .perfil-container  #input-area{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content .relatorio-explicacao{
  background-color: #3a3a3a;
  color: gainsboro
}
body.tema-escuro .main-content .relatorio-explicacao i{
  background-color: #3a3a3a;
  color: gainsboro
}

/* body.tema-escuro .main-content #estabelecimentoForm{
  background-color: #262626;
  color: gainsboro
} */
body.tema-escuro .main-content .contato{
  background-color: #262626;
  color: gainsboro
}
body.tema-escuro .main-content #contact-form label{
  color: gainsboro
}
