<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agility - Configurações</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>
      <div id="topbar-container"></div>

          <div id="sidebar-container"></div>

      <main class="main-content">
        <h1 class="titulo"><i class="fa-solid fa-gear"></i>Configurações</h1>
          <hr>

          <section class="config-opcoes">
              <div class="config-item">
                  <label for="tema">Tema:</label>
                  <select id="tema" name="tema">
                      <option value="claro">Claro</option>
                      <option value="escuro">Escuro</option>
                  </select>
              </div>

              <div class="config-item">
              <label for="senhaAtual">Senha atual:</label>
              <input type="password" id="senhaAtual" placeholder="Senha atual" required>
              
              <label for="novaSenha">Nova senha:</label>
              <input type="password" id="novaSenha" placeholder="Nova senha" required>
              
              <button id="btnAtualizarSenha">Atualizar Senha</button>
            </div>


              <div class="config-item">
                  <label for="idioma">Idioma:</label>
                  <select id="idioma" name="idioma">
                      <option value="pt">Português</option>
                      <option value="en">Inglês</option>
                  </select>
              </div>
              
              <a class="privacidade" href="/view/Configuracoes/A_Privacidade.html"><i class="fa-solid fa-shield-halved"></i><label class="privacidade"> Acessar Termos de Privacidade</label></a>
          </section>
          <!-- Modal -->
              <div id="modalExclusao" class="modal">
                  <div class="modal-content">
                      <p class="close">&times;</p>
                      <p id="mensagemModal"></p>
                  </div>
              </div>
    </main>
</body>
<script src="/Mixins/topbar.js"></script>
    <script src="/Mixins/sidebar.js"></script>
    <script src="/js/Auth/scriptinicio.js"></script>
 <script src="/js/Notificacao/A_Notificacao.js"></script>
 <script src="/js/Configuracoes/A_Configuracoes.js"></script>
  <script src="/js/Perfil/A_Perfil.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          atualizarContadorNotificacoes();
        });
      </script>
</html>



