<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agility - Relatorio Fornecedor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>
 <div id="topbar-container"></div>

        <div id="sidebar-container"></div>

      <main class="main-content">
  <section class="dashboard-container">
    <h2>Relatório Agility Fornecedor</h2>
    

  <iframe
           src="/relatorios/Fornecedor - Relatorio.pdf" 
          title="Relatorio Fornecedor"
          width="95%" 
          height="600px" 
          style="border: none;"
          frameborder="0"
          allowfullscreen="true">
  </iframe>


    <!-- Botão de download -->
    <a href="/relatorios/Fornecedor-Relatorio.pdf" download class="download-btn">
      Baixar Dashboard (PDF)
    </a>
  </section>
</main>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/Mixins/topbar.js"></script>
    <script src="/Mixins/sidebar.js"></script>
    <script src="/js/Auth/scriptinicio.js"></script>
    <script src="/js/Home/A_Home.js"></script>
     <script src="/js/Notificacao/A_Notificacao.js"></script>
      <script src="/js/Perfil/A_Perfil.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', () => {
          atualizarContadorNotificacoes();
        });
      </script>
</body>
</html>





